.clip-triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: clamp(60px, 15vw, 120px);
  height: clamp(60px, 15vw, 120px);
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  .clip-triangle {
      width: clamp(40px, 12vw, 80px);
      height: clamp(40px, 12vw, 80px);
  }
}